@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #282c34;
    font-family: 'Work Sans', sans-serif;
}

.App {
  margin: 5%;
  height: 100vh;
}

#loginform {
    padding: 25px;
    width: 50%;
    margin: 30vh auto;
    background-color: darkgray;
    display: flex;
    justify-content: space-between;
    border-radius: 4px;
}

#loginform input {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
    background: none;
    border-bottom: 1px solid black;
}

#loginform input:focus {
    background: none;
}

#loginform button {
    outline: 0;
    border: 2px solid darkcyan;
    border-radius: 2px;
    background-color: #282c34;
    font-size: 15px;
    padding: 2px 5px;
    width: 150px;
    color:aquamarine;
}