.Game {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px;
    color: lightgray;
    padding: 5px;
    box-shadow: 2px 2px 2px 1px rgba(218, 216, 216, 0.2);
}

.Game .title {
    width: 400px;
}



